In [6]:
import pickle 
sparsevectors={}
with open('text_vectors.pkl', 'rb') as f:
    sparsevectors = pickle.load(f)

In [7]:
#Import train dataset
import pandas as pd

df_edges_test=pd.read_csv('test.csv')
df_edges_test.head()

   id     id1     id2
0   4  253077  253077
1   5  235274   65408
2  10  172772  677546
3  14  378856  175720
4  20  825250   35839

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

def distance_description(tup)->float:
    '''
    This method can be changed to any distance
    '''
    source=tup[0]
    target=tup[1]
    sp1=sparsevectors[source]
    sp2=sparsevectors[target]
    
    return cosine_similarity(sp1,sp2)[0][0]

In [11]:
from tqdm import tqdm
from multiprocessing import Pool

my_preds=[]

tups=[]
for ind, row in tqdm(df_edges_test.iterrows()):
    tups.append((row["id1"],row["id2"]))
with Pool(14) as p:
    data=p.map(distance_description, tups)

238364it [00:06, 36120.91it/s]

NameError: name 'd' is not defined

In [23]:
my_preds=[1 if d>0.0505 else 0 for d in data]

In [24]:
len(my_preds)

238364

In [25]:
import pandas as pd

sub=pd.read_csv("sample_submission.csv")
sub.head()

   id  label
0   4      1
1   5      1
2  10      1
3  14      1
4  20      1

In [26]:
dfmysub=pd.DataFrame(zip(df_edges_test["id"].values,my_preds),columns=["id","label"])

In [27]:
dfmysub.head()

   id  label
0   4      1
1   5      0
2  10      0
3  14      0
4  20      1

In [28]:
dfmysub.to_csv("submission.csv",index=False)